.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1f2937;
    color:white;
}
.top h3{
    background-color: aqua;
    flex: 50%;
    text-align: center;
}
.top .right-header{
    background-color: blanchedalmond;
    flex: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}   
